@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-weight: 600; /* Encabezado con peso mayor */
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Poppins', sans-serif; /* Fuente Poppins aplicada */
}

button:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
}

#food-list {
    display: flex;
    flex-wrap: wrap;
}

.food-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(231, 68, 68, 0.1);
}

.food-item img {
    max-width: 100%;
    border-radius: 5px;
}

form {
    margin-top: 20px;
    background: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="text"], input[type="url"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif; /* Fuente Poppins en los inputs */
}

.success {
    color: green;
    font-family: 'Poppins', sans-serif; /* Fuente Poppins en los mensajes */
}

.error {
    color: red;
    font-family: 'Poppins', sans-serif; /* Fuente Poppins en los mensajes */
}
